In [1]:
import pandas as pd

In [2]:
# Datasets
movies = "data/ml-latest-small/movies.csv"
links = "data/ml-latest-small/links.csv"
ratings = "data/ml-latest-small/ratings.csv"
tags = "data/ml-latest-small/tags.csv"

data = {"movies":None, "links": None, "ratings": None, "tags": None}

for key in data.keys():
    data[key] = pd.read_csv(f"data/ml-latest-small/{key}.csv")

In [5]:
data

{'movies':       movieId                                      title  \
 0           1                           Toy Story (1995)
 1           2                             Jumanji (1995)
 2           3                    Grumpier Old Men (1995)
 3           4                   Waiting to Exhale (1995)
 4           5         Father of the Bride Part II (1995)
 ...       ...                                        ...
 9737   193581  Black Butler: Book of the Atlantic (2017)
 9738   193583               No Game No Life: Zero (2017)
 9739   193585                               Flint (2017)
 9740   193587        Bungo Stray Dogs: Dead Apple (2018)
 9741   193609        Andrew Dice Clay: Dice Rules (1991)

                                            genres
 0     Adventure|Animation|Children|Comedy|Fantasy
 1                      Adventure|Children|Fantasy
 2                                  Comedy|Romance
 3                            Comedy|Drama|Romance
 4                                          Comedy
 ...                                           ...
 9737              Action|Animation|Comedy|Fantasy
 9738                     Animation|Comedy|Fantasy
 9739                                        Drama
 9740                             Action|Animation
 9741                                       Comedy

 [9742 rows x 3 columns],
 'links':       movieId   imdbId    tmdbId
 0           1   114709     862.0
 1           2   113497    8844.0
 2           3   113228   15602.0
 3           4   114885   31357.0
 4           5   113041   11862.0
 ...       ...      ...       ...
 9737   193581  5476944  432131.0
 9738   193583  5914996  445030.0
 9739   193585  6397426  479308.0
 9740   193587  8391976  483455.0
 9741   193609   101726   37891.0

 [9742 rows x 3 columns],
 'ratings':         userId  movieId  rating   timestamp
 0            1        1     4.0   964982703
 1            1        3     4.0   964981247
 2            1        6     4.0   964982224
 3            1       47     5.0   964983815
 4            1       50     5.0   964982931
 ...        ...      ...     ...         ...
 100831     610   166534     4.0  1493848402
 100832     610   168248     5.0  1493850091
 100833     610   168250     5.0  1494273047
 100834     610   168252     5.0  1493846352
 100835     610   170875     3.0  1493846415

 [100836 rows x 4 columns],
 'tags':       userId  movieId               tag   timestamp
 0          2    60756             funny  1445714994
 1          2    60756   Highly quotable  1445714996
 2          2    60756      will ferrell  1445714992
 3          2    89774      Boxing story  1445715207
 4          2    89774               MMA  1445715200
 ...      ...      ...               ...         ...
 3678     606     7382         for katie  1171234019
 3679     606     7936           austere  1173392334
 3680     610     3265            gun fu  1493843984
 3681     610     3265  heroic bloodshed  1493843978
 3682     610   168248  Heroic Bloodshed  1493844270

 [3683 rows x 4 columns]}

In [6]:
# merging movies df and link df using an inner join
movies_df = data["movies"]
links_df = data["links"]

# Using join with movies_df as the left DataFrame
merged_movies_links = movies_df.join(links_df.set_index("movieId"), on="movieId", how="inner")

# Display the shape of the resulting DataFrame
print(merged_movies_links.shape)

(9742, 5)

In [7]:
merged_movies_links.head()

,movieId,title,genres,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844.0
2,3,Grumpier Old Men (1995),Comedy|Romance,113228,15602.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,114885,31357.0
4,5,Father of the Bride Part II (1995),Comedy,113041,11862.0

In [8]:
# Left outer join with ratings_df and specify suffixes
merged_data_ratings = merged_movies_links.join(data["ratings"].set_index("movieId"), on="movieId", how="left", lsuffix='_movies_links', rsuffix='_ratings')

# Left outer join with tags_df and specify suffixes
df = merged_data_ratings

# Display the first few rows of the resulting DataFrame
print(f"Final Merged Data has {df.shape[0]} rows and {df.shape[1]} columns:")
df.head()

Final Merged Data has 100854 rows and 8 columns:

,movieId,title,genres,imdbId,tmdbId,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1.0,4.0,9.649827e+08
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,5.0,4.0,8.474350e+08
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,7.0,4.5,1.106636e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,15.0,2.5,1.510578e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,17.0,4.5,1.305696e+09

In [9]:
import pandas as pd

# Assuming 'df' is your DataFrame
print("Summary Statistics:")
print(df.describe())

Summary Statistics:
             movieId        imdbId         tmdbId         userId  \
count  100854.000000  1.008540e+05  100841.000000  100836.000000
mean    19435.051728  3.515154e+05   20106.212146     326.127564
std     35528.850950  6.220251e+05   53269.783825     182.618491
min         1.000000  4.170000e+02       2.000000       1.000000
25%      1199.000000  9.968500e+04     712.000000     177.000000
50%      2991.000000  1.187550e+05    6961.000000     325.000000
75%      8128.000000  3.149790e+05   11637.000000     477.000000
max    193609.000000  8.391976e+06  525662.000000     610.000000

              rating     timestamp
count  100836.000000  1.008360e+05
mean        3.501557  1.205946e+09
std         1.042529  2.162610e+08
min         0.500000  8.281246e+08
25%         3.000000  1.019124e+09
50%         3.500000  1.186087e+09
75%         4.000000  1.435994e+09
max         5.000000  1.537799e+09

In [12]:
duplicated_rows = df.duplicated().sum()
print(f'The DataFrame has {duplicated_rows} duplicated rows.')

The DataFrame has 0 duplicated rows.